
header{
    height: 100vh;
    .y-navbar{
        position: fixed;
        padding: 1rem;
        width: 100%;
        background: transparent;
        z-index: 1000;
        min-height: 5rem;
        .img-logo{
            float: left;
            height: 3.5rem;
        }
        .sidebar-button{
            float: right;
            z-index: 1000;
            right: 2rem;
            width: 3rem;
            height: 3rem;
            border: none;
            border-radius: 50%;
            background: $color-white;
            box-shadow: $custom-box-shadow;
            cursor: pointer;
        }
        .sidebar{
            width: 20rem;
            position: fixed;
            top: 0;
            left: 0;
            background: linear-gradient(to top,rgba(0, 0, 0, 0.459),rgba(0, 0, 0, 0.945));
            height: 100vh;
            padding: 1rem 0 1rem 1rem;
            display: none;
            ul{
                li{
                    font-weight: bold;
                    a{
                        @include unstyle-link();
                        // border-top-right-radius: 2rem;
                        // border-bottom-right-radius: 2rem;
                        padding: 1rem;
                        color: $color-white;
                        text-transform: uppercase;
                        transition: $default-transition;
                        display: block;
                        &:hover{
                            color: $primary-color;
                            // background: rgba(0, 0, 0, 0.548);
                            transform: translateX(2%);
                        }
                    }
                }
            }
        }
    }
    #carouselId{
        position: relative;
        width: 100%;
        height: 100%;
        .carousel-inner,.carousel-item{
            height: 100vh;
            position: relative;
            .box-info{
                padding: 1rem;
                text-align: center;
                @include absolute-center();
                color: $color-white;
                svg,h1,p{
                    margin-bottom: 2rem;
                }
                h1{
                    font-size: 5rem;
                }
                p{
                    // line-height: $defaut-line-height;
                    width: 70%;
                    margin:0 auto;
                    margin-bottom: 2rem;
                    font-size: 1.5rem;
                }
                button{
                    @include main-button();
                    margin-bottom: 2rem;
                }
                .register{
                    background: $color-white;
                    color: $color-black;
                    &:hover{
                        background: $primary-color;
                        color: $color-white;
                    }
                }
            }
        }
    }
}