@media screen and (max-width:740px){
    header{
        #carouselId{
            
        }
    }
    #services{
        .part-services{
            padding: 0;
        }
        .green-banner{
            .banner-content{
                p{
                    width: 100%;
                }
            }
        }
    }
    #solutions{
        h1{
            font-size: 3rem;
            width: 100%;
        }
        p{
            font-size: 1.3rem;
        }
    }
}