$primary-color: #f6c452;
$color-green: rgba(45, 181, 194, 0.5);
$color-white: #fff;
$color-black: #000;
$custom-box-shadow: 0 0 5px $color-black;
$primary-gradient: #f6c55270;
$default-transition: all .2s;
$defaut-line-height: 1.5rem;
$gray-fade: rgba(180, 180, 180, 0.26);