#services{
    padding: 5rem 0 0 0;
    .part-services{
        padding: 5rem;
        .services-content{
            text-align: center;
            color: $color-white;
            padding: 1rem;
            transition: $default-transition;
            &:hover{
                background: $gray-fade;
            }
            a{
                @include unstyle-link();
                color: $color-white;
                &:hover{
                    color: $primary-color;
                }
            }
            h1{
                padding: 2rem 0;
                border-bottom: 1px solid $color-white;
                text-transform: uppercase;
                font-size: 2rem;
            }
            svg{
                padding: 3rem 0;
            }
            p{
                line-height: $defaut-line-height;
                margin-bottom: 2rem;
            }
            button{
                @include main-button();
            }
        }
    }
    .green-banner{
        background: $color-green;
        padding: 5rem 0;
        .banner-content{
            padding: 1rem 0;
            color: $color-white;
            h1{
                font-size: 1.5rem;
                margin: 1.2rem 0; 
            }
            p{
                width: 70%;
            }
        }
    }
}


.none{
    margin: 0;
    padding: 0;
}

#img-listing{
    background: $white-gradient;
    button{
        @include main-button();
        margin:2rem 0;
    }
}

#welcome{
    background: $white-gradient;
    h1{
        margin-bottom: 2rem;
        font-size: 3.5rem;
        color: $color-green;
    }
    .box-info{
        padding: 2rem 0;
        .box-content__info{
            @extend .box-info;
            a{
                @include unstyle-link();
                transition: $default-transition;
                font-size: 1.5rem;
                color: $black-custom;
                &:hover{
                    color: $primary-color !important;
                }
                h3{
                    font-size: 2rem;
                    color: $black-custom;
                    margin-top: 1rem;
                }
            }
            p{
                color: $gray-gradient;
                margin: 1rem 0 1.5rem 0;
                line-height: 1.2rem;
            }
            button{
                @include main-button()
            }
        }
    }
    
}

#solutions{
    padding: 7rem 0;
    h1{
        color: $color-white;
        font-size: 6rem;
        margin-bottom: 1.5rem;
        width: 80%;
    }
    p{
        @extend h1;
        font-size: 2rem;
        line-height: 1.8rem;
    }
    button{
        @include main-button();
    }
}

#skills{
    padding: 5rem 0;
    .skills-content{
        a{
            @include unstyle-link();
            color: $color-white;
            &:hover{
                color: $primary-color;
            }
        }
        h1{
            padding: 2rem 0;
            border-bottom: 1px solid $color-white;
            text-transform: uppercase;
            font-size: 2rem;
            margin-bottom: 3rem;
        }
        p{
            color: $color-white;
            font-size: 1.3rem;
            line-height: $defaut-line-height;
            margin: 2rem 0 2rem 0;
        }
        button{
            @include main-button();
        }
    }
}